<section id="how-it-works" class="relative bg-light min-h-screen md:flex">
  <div class="md:absolute left-0 h-full">
    <img
      src="assets/imgs/svg/main-dashboard-left.svg"
      alt="Dashboard Image"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="ml-auto w-full md:w-1/2 flex items-center px-8 md:px-16">
    <div class="max-w-md">
      <h2 class="text-4xl font-bold text-gray-800 mb-6">How it works</h2>
      <div>
        <!-- Step 1 -->
        <div class="flex items-center py-6 border-b border-solid">
          <div class="flex-shrink-0 w-14 h-14">
            <img
              src="assets/imgs/svg/how-it-works-step1.svg"
              alt="step 1"
            />
          </div>
          <div class="ml-4">
            <span class="step-badges">Step 1</span>
            <h3 class="text-lg font-semibold text-gray-800">Sign Up</h3>
            <p class="text-gray-600">Create your account in just a few clicks.</p>
          </div>
        </div>
        <!-- Step 2 -->
        <div class="flex items-center py-6 border-b border-solid">
          <div class="flex-shrink-0 w-14 h-14">
            <img
              src="assets/imgs/svg/how-it-works-step2.svg"
              alt="step 2"
            />
          </div>
          <div class="ml-4">
            <span class="step-badges">Step 2</span>
            <h3 class="text-lg font-semibold text-gray-800">First Choose Your Plan</h3>
            <p class="text-gray-600">Select the access duration that fits your needs.</p>
          </div>
        </div>
        <!-- Step 3 -->
        <div class="flex items-center py-6 border-b border-solid">
          <div class="flex-shrink-0 w-14 h-14">
            <img
              src="assets/imgs/svg/how-it-works-step3.svg"
              alt="step 3"
            />
          </div>
          <div class="ml-4">
            <span class="step-badges">Step 3</span>
            <h3 class="text-lg font-semibold text-gray-800">Start Learning</h3>
            <p class="text-gray-600">Dive into our interactive courses and practice exams.</p>
          </div>
        </div>
        <!-- Step 4 -->
        <div class="flex items-center py-6 border-b border-solid">
          <div class="flex-shrink-0 w-14 h-14">
            <img
              src="assets/imgs/svg/how-it-works-step4.svg"
              alt="step 4"
            />
          </div>
          <div class="ml-4">
            <span class="step-badges">Step 4</span>
            <h3 class="text-lg font-semibold text-gray-800">Ace the Test</h3>
            <p class="text-gray-600">Pass your theory test with confidence!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
