<section id="testimonials" class="min-h-screen py-12">
  <div class="container mx-auto px-6 lg:px-20">
    <div class="flex flex-col md:flex-row justify-between items-center mb-12">
      <h2 class="text-4xl font-bold text-gray-800 mb-8 md:w-2/6">
        {{ 'app.home.testimonials.title' | translate }}
      </h2>
      <div class="flex flex-col mb-3 md:mb-12">
        <div class="flex -space-x-4 rtl:space-x-reverse">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-1.png" alt="people avatar">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-2.png" alt="people avatar">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-3.png" alt="people avatar">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-4.png" alt="people avatar">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-5.png" alt="people avatar">
          <img class="w-8 h-8 border-2 border-white rounded-full object-cover" src="assets/imgs/png/group-persion-6.png" alt="people avatar">
        </div>
        <p class="text-gray-600 w-3/4">
          {{ 'app.home.testimonials.subtitle' | translate }}
        </p>
      </div>
    </div>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <!-- Testimonial Card 1 -->
      <div class="testimonial-card"
        *ngFor="let testimonial of testimonials"
      >
        <div class="flex items-center gap-2 mb-4">
          <img class="w-8 h-8 rounded-full" [src]="testimonial.image" alt="Sophie van Dijk">
          <div>
            <h3 class="text-lg font-semibold text-gray-800">{{ testimonial.name | translate }}</h3>
            <div class="text-yellow-400 text-sm">★★★★★</div>
          </div>
        </div>
        <p class="text-gray-600 mb-4">
          {{ testimonial.review | translate }}
        </p>
        <p class="text-sm mb-2">{{ 'app.home.testimonials.feature_highlight' | translate }}</p>
        <div class="text-sm flex flex-col gap-2">
          <div *ngFor="let feature of testimonial.featureHighlight">
            <span class="step-badges">{{ feature| translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-12">
      <p class="text-gray-600 mb-4">{{ 'app.home.testimonials.ready_to_be_our_next_success_story' | translate }}</p>
      <a routerLink="/signup" class="btn-primary">
        {{ 'app.home.testimonials.get_started' | translate }}
      </a>
    </div>
  </div>
</section>
