<section id="platform" class="py-28">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">Features Platform</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Your 24/7 Personal AI Tutor</h3>
          <p class="text-gray-600 mt-2">
            Specialized in Dutch traffic rules and regulations, Available anytime to answer questions and explain content in detail.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/your-24_7-personal-ai-tutor.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Engaging Animated Video Lessons</h3>
          <p class="text-gray-600 mt-2">
            Animated videos for each chapter, Interactive quizzes following each lesson
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/realistic-cbr-mock-exams.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Personalized Adaptive Learning</h3>
          <p class="text-gray-600 mt-2">
            Generates new playlists based on your results, Focuses on areas that need improvement.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/personalized-adaptive-learning.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Your 24/7 Personal AI Tutor</h3>
          <p class="text-gray-600 mt-2">
            Specialized in Dutch traffic rules and regulations, Available anytime to answer questions and explain content in detail.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/your-24_7-personal-ai-tutor-large.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Realistic CBR Mock Exams</h3>
          <p class="text-gray-600 mt-2">
            7 tests with 65 questions each, Simulates the actual driving theory exam experience.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/realistic-cbr-mock-exams.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Interactive Quizzes with Immediate Feedback</h3>
          <p class="text-gray-600 mt-2">
            Click-to-answer style quizzes, Ensures engagement and comprehension.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/interactive-quizzes-with-immediate-feedback.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">In-Depth Exam Explanations</h3>
          <p class="text-gray-600 mt-2">
            Detailed analysis provided after completing practice exams, Helps you understand mistakes and learn from them.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/in-depthp-exam-explanations.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">Flashcards for Easy Memorization</h3>
          <p class="text-gray-600 mt-2">
            Covers important topics like road signs and key numbers, Ideal for quick revision.
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/flashcards-for-easy-memorization.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
  </div>
</section>
