<section id="platform" class="my-12">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">{{ 'app.home.platform.features-title' | translate }}</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_1_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_1_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/your-24_7-personal-ai-tutor.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_2_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_2_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/realistic-cbr-mock-exams.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_3_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_3_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/personalized-adaptive-learning.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_4_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_4_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/your-24_7-personal-ai-tutor-large.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_5_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_5_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/realistic-cbr-mock-exams.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
    <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_6_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_6_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/interactive-quizzes-with-immediate-feedback.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_7_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_7_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/in-depthp-exam-explanations.svg" alt="AI Tutor">
        </div>
      </div>
      <div class="platform-item">
        <div class="p-8">
          <h3 class="text-xl font-bold text-gray-800">{{ 'app.home.platform.feature_8_title' | translate }}</h3>
          <p class="text-gray-600 mt-2">
            {{ 'app.home.platform.feature_8_description' | translate }}
          </p>
        </div>
        <div class="absolute bottom-0 w-full flex justify-center items-center">
          <img src="assets/imgs/svg/flashcards-for-easy-memorization.svg" alt="AI Tutor">
        </div>
      </div>
    </div>
  </div>
</section>
